 @using PurpleBuzzTask.Models;
@model IEnumerable<Service>;

<a class=" mb-2 btn btn-primary " asp-controller="Service" asp-area="Dashboard" asp-action="Create" type="submit">Create</a>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">MainUrl</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Service item in Model){
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.MainImageUrl</td>
                <td><a class=" btn btn-primary " asp-area="Dashboard" asp-controller="Service" asp-action="Update" asp-route-Id="@item.Id"  type="submit">Update</a></td>
                <td><a class=" btn btn-primary " asp-area="Dashboard" asp-controller="Service" asp-action="Delete" asp-route-Id="@item.Id" type="submit">Delete</a></td>
                
                
            </tr>
        }
        
       
    </tbody>
</table> 